@page "/Signo"

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="container">
    <h1>Registro de vacunas</h1>
    <br />
    <button type="button" class="btn btn-outline-success">Buscar signos de personas</button>
    <br />
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Signo</th>
                <th scope="col">Persona</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Otto</td>
                <td>Otto</td>
            </tr>
            <tr>
                <td>Otto</td>
                <td>Otto</td>
            </tr>
            <tr>
                <td>Otto</td>
                <td>Otto</td>
            </tr>
        </tbody>
    </table>

</div>

<style>
    .container {
        margin-top: 50px;
    }
    .btn-outline-succes {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

@code {

}
